<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Joc.Properties.Settings.aLouryehConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aLouryeh.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Joc.Properties.Settings.BibliotecaConnectionString"
            connectionString="Data Source=DESKTOP-KFHV9MJ\OCTAV;Initial Catalog=Biblioteca;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Joc.Properties.Settings.ClasamentConnectionString"
            connectionString="Data Source=DESKTOP-KFHV9MJ\OCTAV;Initial Catalog=Clasament;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>